html { 
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.titleCtn{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

/* .titleCtn::after{
    display: block;
    position: absolute;
    top: 0;
    right: -72px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #e830fe;
    content: 'live';
    line-height: 95px;
} */